
.sidebar-item {
  display: block;
  padding: 0.1rem;
  border-radius: 0.5rem;
  background-color: rgba(13, 47, 90, 0.7);
  transition: all 0.2s ease-in-out;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.sidebar-item:hover {
  background-color: rgba(16, 55, 102, 0.9);
}

/* sidebar.css */
.sidebar-item-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
  background-color: rgba(13, 47, 90, 0.7);
  transition: all 0.2s ease-in-out;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.sidebar-item-flex:hover {
  background-color: rgba(16, 55, 102, 0.9);
}
